{% load bootstrap3 %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Welch's t-test calculator</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-annotation/0.5.7/chartjs-plugin-annotation.min.js"></script>
    <!-- <script src="https://cdn.rawgit.com/chartjs/chartjs-plugin-annotation/master/chartjs-plugin-annotation.min.js"></script> -->
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.6/prefixfree.min.js"></script>
    {% load crispy_forms_tags %}
    {% load static %}
   
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjs/8.1.0/math.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.6/prefixfree.min.js"></script>

    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" media="screen" />
    <script src="{% static 'welchs.js' %}" type="text/javascript"></script>
</head>
<body>




<style>
</style>

<noscript>
<div class="disabled">
Javascript is disabled in your web browser. Please enable JavaScript to view.</div>
</noscript>


<div class="orange-back">
  <div class="container" style="margin-bottom:-120px">
    <span style="color:white">
  <h1>Welch's <i>t</i>-test calculator</h1></span>
  </div>
</div>
<br><br>


<div class="container" id="ContainerWindow">
  <div class="grey-back">
    <div style="text-align:justify">
      Is there a statistically significant difference between two datasets? Move the slider and observe the impact of the significance level on the probability of making the wrong decision. Input and explore your datasets.
      This calculator is for one-tailed Welch’s <i>t</i>-tests. The data are assumed to be normally distributed.
      <a href='#more-info'>Find more information.</a>
    </div>
  </div>
  <p><br><br><br>


  <div class="row">
    <div class="col-md-6">

      {% if test_results %}
      <div id="slider" class="slider">
        <div id="thumb" class="thumb" ontouchmove="moveThumbMobile(event)"></div>
      </div>
      <div>
        <canvas id="line_chart" width="1000" height="800"></canvas>
      </div>
      <p><br><p><br>
      {% endif %}

      <b><span id="message"></span></b>
      <br>

      <div class="enter-data">
        <form id="data-form" action="{% url 'core:ttest' %}" method='post' class="form">
        {% csrf_token %}

        <div class="row">
          	<div class="col-xs-6 col-sm-4">
          	   {{ form.dataset1|as_crispy_field }}
          	</div>
          	<div class="col-xs-6 col-sm-4">
          	   {{ form.dataset2|as_crispy_field }}
          	</div>

           <div class="col-xs-12 col-sm-4">
              <b>STATISTICS</b><br><br>
              <b>critical t:</b> <span id="crit_t_value"></span><br>
              <b>sig level (&#945;):</b> <span id="sig-level"></span><br>
              <br>

              <b>t-value:</b> <span id="t_value"></span><br>
              <b>p-value:</b> {{ test_results.p_value }}<br>
              <br>

              <b>df:</b> {{ test_results.df }}<br>
              <b>effect size:</b> {{ test_results.effect_size }}<br>
              <b>ncp:</b> <span id="ncp"></span><br>
              <br><br>

              <button name="submit" style="margin-bottom:5px" class="btn btn-primary">Analyze</button>
              <button type="button" style="margin-bottom:5px" class="btn btn-default" onclick="clearForm()">Clear</button>
              <br><br>
          </div>
        </div>
        </form>

        <div style="background-color: #e8e8e8; padding:10px; min-width:300px;" class="row">
          <div class="col-xs-4">
            <span id="SmallScreen"><b>Group 1</b><br></span>
            {{ data1.mean }}<br>
            {{ data1.sd }}<br>
            {{ data1.n }}<br>
          </div>
          <div class="col-xs-4">
            <span id="SmallScreen"><b>Group 2</b><br></span>
            {{ data2.mean }}<br>
            {{ data2.sd }}<br>
            {{ data2.n }}<br>
          </div>
          <div class="col-xs-4">
            <span id="SmallScreen"><br></span>
            <b>Mean</b><br>
            <b>SD</b><br>
            <b>N</b>
          </div>
        </div>
      </div><!-- close enter-data div -->
      <p><br>
  </div> <!-- column end -->

  <div class="col-md-1">
  </div>

  <div class="col-md-5">

    {% if test_results %}
    <div class="tabbed">
      <input type="radio" name="tabs" id="tab-nav-1" checked>
      <label for="tab-nav-1">Hypothesis Testing</label>
      <input type="radio" name="tabs" id="tab-nav-2">
      <label for="tab-nav-2">PPV</label>
      <div class="tabs">
        <div>
          <br>
          <i>H<sub>0</sub></i>: population 1 mean = population 2 mean<br>
          <i>H<sub>1</sub></i>: population 1 mean < population 2 mean<br>
          <br>

          <b><span id="reject-or-not"></span></b>
          <p><br>

          <div class="grid-container">
            <div class="grid-item"><i>H<sub>0</sub></i></div>
            <div class="grid-item" id="reject">REJECT</div>
            <div class="grid-item" id="not-reject">NOT REJECT</div>
            <div class="grid-item">TRUE</div>
            <div class="grid-item" id="alpha-box">
              <b><span id="alpha"></span></b><br><br>
              <span style="color:red">False Positive<br>Type I Error<br>(&#945;)</span>
            </div>
            <div class="grid-item">
              <b><span id="confidence"></span></b><br><br>
              True Negative<br>Confidence<br>(1 - &#945;)
            </div>
            <div class="grid-item">FALSE</div>
            <div class="grid-item">
              <b><span id="power"></span></b><br><br>
              True Positive<br>Power<br>(1 - &#946;)
            </div>
            <div class="grid-item" id="beta-box">
              <b><span id="beta"></span></b><br><br>
              <span style="color:blue">False Negative<br>Type II Error<br>(&#946;)</span>
            </div>
          </div>
        </div>

        <div>
          <b>Positive Predictive Value (PPV)</b>
          <br><br>
          <div style="text-align:justify">
          For example, if 1% of the population is afflicted with a disease, and
          the test for the disease is 99% accurate, we may intuit that
          our diagnosis will be correct 99% of the time. However, if &#945; = 0.05 and &#946; = 0.01, we will accurately diagnose a patient with the disease only 16% of the time. The PPV in this case is 16%.<sup>4</sup>
          <br><br>
          The probability of the real effect (e.g., prevalence of disease) can be modified below.

          </div>
          <br><br>

          <b>Probability tree diagram</b>

            <div class="diagram-box">
              <div class="responsive">
              <img class="responsive" src="{% static 'tree.svg' %}">
              <input id="prob1_re" class="prob1_re" value="0.01" size="3">
           <b><div id="prob2_ne" class="prob2_ne"></div>
              <div id="prob3_tp" class="prob3_tp"></div>
              <div id="prob4_fn" class="prob4_fn"></div>
              <div id="prob5_tn" class="prob5_tn"></div>
              <div id="prob6_fp" class="prob6_fp"></div>
              <div id="prob7_retp" class="prob7_retp"></div>
              <div id="prob8_refn" class="prob8_refn"></div>
              <div id="prob9_netn" class="prob9_netn"></div>
              <div id="prob10_nefp" class="prob10_nefp"></div></b>
              </div>
            </div>
            <p><br>

            PPV: <b><span id="ppv"></span></b><br>
            False Discovery Rate: <b><span id="false_rate"></span></b><br>
            Sensitivity: <b><span id="sensitivity"></span></b><br>
            Specificity: <b><span id="specificity"></span></b>
          </div>
        </div>
      </div>  <!-- end tabbed -->
      {% endif %}
    </div>
  </div> <!-- end row -->


  <div id="SmallScreen" style="height: 1200px;">  <!-- buffer space for small screens -->
  </div>
  <br><br><br>


  <a name="more-info"></a>
  <div class="more-info">
    <h4>More information</h4>

    The Welch’s <i>t</i>-test, or unequal variances <i>t</i>-test, can test hypotheses such as whether the means of two independent normally-distributed populations are equal. While the commonly-used Student <i>t</i>-test requires that the two samples share equal variances and equal sample sizes, the Welch’s <i>t</i>-test does not have this requirement. Researchers argue that the Welch’s <i>t</i>-test is more versatile and should instead be used by default.<sup>1,2</sup>
    <br><br>
    Statistical rigor can be achieved with <i>t</i>-tests, yet the significance level is set arbitrarily. While lowering significance levels mitigates false positives (&#945;), the probability of false negatives (&#946;) increases, and tests may fail to detect existing effects.<sup>3</sup>
  </div>
  <br>

  <div style="padding: 10px 20px 20px 20px;" class="grey-back">
    <h4>References</h4>

    1. Dahiru, T. P-value, a true test of statistical significance? A cautionary note. <i>Annals of Ibadan Postgraduate Medicine.</i> 2008, <i>6</i>(1): 21–26.
    <br>
    2. Delacre, M.; Lakens, D.; Leys, C. Why Psychologists Should by Default Use Welch’s t-test Instead of Student’s t-test. <i>International Review of Social Psychology.</i> 2017, <i>30</i>(1), 92–101.
    <br>
    3. Benjamin, D.J.; Berger, J.O.; Johannesson, M. et al. Redefine statistical significance. <i>Nature Human Behaviour.</i> 2018, <i>2</i>, 6–10.
    <br>
    4. Colquhoun, D. An investigation of the false discovery rate and the misinterpretation of p-values. <i>Royal Society Open Science.</i> 2014, <i>1</i>(3): 140216.
  </div>
</div>  <!-- container -->
<br>





<script>

const ROUND_DECIMALS = 4;
var alpha;
var beta;
var sliderPositionLeft;
var df;
var crit_t_value;
var t_value;
var p_value;
var crit_t_value_beta;  // critical t with respect to the group 2 distribution, not group 1

{% if test_results %}
  const group1 = {{ data1|safe }};
  const group2 = {{ data2|safe }};
  const axes = JSON.parse('{{ axes|safe }}');
  df = {{ test_results.df }};
  ncp = {{ test_results.ncp }};
  t_value = {{ test_results.t_value }};
  p_value = {{ test_results.p_value }};
{% endif %}


elem("ncp").innerText = round(ncp);
elem("t_value").innerText = round(t_value);  // display t-value, even as negative
t_value = math.abs(t_value);
var lineChart = getLineChart();

const prob1_re = elem("prob1_re");
const prob2_ne = elem("prob2_ne");
const prob3_tp = elem("prob3_tp");
const prob4_fn = elem("prob4_fn");
const prob5_tn = elem("prob5_tn");
const prob6_fp = elem("prob6_fp");
const prob7_retp = elem("prob7_retp");
const prob8_refn = elem("prob8_refn");
const prob9_netn = elem("prob9_netn");
const prob10_nefp = elem("prob10_nefp");





// OBTAIN MOUSE EVENT, DRAG SLIDER
let thumb = slider.querySelector('.thumb');

thumb.onmousedown = function(event) {
  event.preventDefault(); // prevent selection start (browser action)
  let shiftX = event.clientX - thumb.getBoundingClientRect().left;
  document.addEventListener('mousemove', onMouseMove);
  document.addEventListener('mouseup', onMouseUp);

  function onMouseMove(event) {
    sliderPositionLeft = event.clientX - shiftX - slider.getBoundingClientRect().left;
    // the pointer is out of slider => lock the thumb within the boundaries
    if (sliderPositionLeft < 0) {
      sliderPositionLeft = 0;
    }
    let rightEdge = slider.offsetWidth - thumb.offsetWidth;
    if (sliderPositionLeft > rightEdge) {
      sliderPositionLeft = rightEdge;
    }

    thumb.style.left = sliderPositionLeft + 'px';
    moveBar();
  }

  function onMouseUp() {
    document.removeEventListener('mouseup', onMouseUp);
    document.removeEventListener('mousemove', onMouseMove);
  }

};

thumb.ondragstart = function() {
  return false;
};


// FOR MOBILE DEVICES ONLY, DRAG SLIDER
function moveThumbMobile(event) {
  sliderPositionLeft = event.touches[0].clientX - slider.getBoundingClientRect().left;

  // the pointer is out of slider => lock the thumb within the boundaries
  if (sliderPositionLeft < 0) {
    sliderPositionLeft = 0;
  }
  let rightEdge = slider.offsetWidth - thumb.offsetWidth;
  if (sliderPositionLeft > rightEdge) {
    sliderPositionLeft = rightEdge;
  }
  thumb.style.left = sliderPositionLeft + 'px';
  moveBar();
}



// Execute initially
sliderPositionLeft = initThumb(axes.x_min, axes.x_max, thumb.offsetWidth);
moveBar();



function initThumb(chart_x_min, chart_x_max, thumbOffsetWidth){
  // Initial position of the slider thumb.
  // crit_t_init is an arbitrary initial critical t value
  var crit_t_init = {{ test_results.crit_t_init }};
  var init_x = crit_t_init;

  var points = lineChart.chart.getDatasetMeta(0).data;
  var x1 = points[0]._model.x;
  var x2 = points[1]._model.x;

  // convert chart x value to the x screen position for the slider thumb
  var offset = 3;
  var new_thumb = convertChartXToScreenX(init_x, chart_x_min, chart_x_max, x1, x2, offset);
  elem("thumb").style.left = new_thumb +"px";
  return new_thumb;
}



function convertChartXToScreenX(x, chart_x_min, chart_x_max, x1, x2, offset){
  return math.round((((x - chart_x_min)/(chart_x_max - chart_x_min))*(x2-x1)) - offset,0);
}

function convertScreenXToChartX(x, x1, x2, chart_x1, chart_x2, thumbOffsetWidth){
  return (x + (thumbOffsetWidth/2))/(x2 - x1)*(chart_x2-chart_x1) + chart_x1;
}



function moveBar(){

  // get absolute x,y coordinates of the chart on the screen
  var points = lineChart.chart.getDatasetMeta(0).data;
  var x1 = points[0]._model.x;
  var y1 = points[0]._model.y;
  var x2 = points[1]._model.x;
  var y2 = points[1]._model.y;

  // adjust the slider
  elem("slider").style.left = x1 + "px";
  elem("slider").style.width = x2 - x1 + "px";

  // draw the critical t vertical line
  crit_t_value = round(convertScreenXToChartX(sliderPositionLeft, x1, x2, axes.x_min, axes.x_max, thumb.offsetWidth));
  lineChart.options.annotation.annotations[1]['value'] = crit_t_value;
  lineChart.update();

  /* update numeric values related to critical t.
     shift by the non-centrality parameter. */
  crit_t_value_beta = crit_t_value - ncp;

  // update display
  drawAlphaCurve();
  drawBetaCurve();
  updateConfusionMatrix();
  showRejectOrNotReject(crit_t_value, t_value);
  updateProbabilityTree();

  elem('crit_t_value').innerText = crit_t_value;
  elem('sig-level').innerText = round(alpha);

}



function showRejectOrNotReject(crit_t_value, t_value){
  // determine recommendation: to reject or not reject the null hypothesis
  if (crit_t_value <= t_value){
    elem('reject-or-not').innerText = "Reject the Null Hypothesis (H\u2080)";
    elem('reject').style.backgroundColor = "#ff7034";
    elem('not-reject').style.backgroundColor = "#ffffff";

  } else if (crit_t_value > t_value) {
    elem('reject-or-not').innerText = "Do Not Reject the Null Hypothesis (H\u2080)";
    elem('reject').style.backgroundColor = "#ffffff";
    elem('not-reject').style.backgroundColor = "#ff7034";

  } else {
    elem('reject-or-not').innerText = " ";
    elem('reject').style.backgroundColor = "#ffffff";
    elem('not-reject').style.backgroundColor = "#ffffff";
  }
}


function updateConfusionMatrix(){

  alpha = getAlpha(crit_t_value, df);
  beta = getBeta(crit_t_value_beta, df);

  elem("alpha").innerText = round(alpha);
  elem("confidence").innerText = round(1-alpha);
  elem("beta").innerText = round(beta);
  elem("power").innerText = round(1-beta);

  lineChart.options.annotation.annotations[1].label['content'] = '\u03B1 = ' + round(alpha);
  lineChart.update();

  // Option to have Hypothesis Testing boxes change color intensity according to magnitude of alpha and beta probability
  //elem('alpha-box').style = "background-color: rgba(255, 0, 0, "+ (Math.round(alpha * 1000)*0.6 / (1000)).toFixed(3) +");"
  //elem('beta-box').style = "background-color: rgba(0, 0, 255, "+ (Math.round(beta * 1000)*0.6 / (1000)).toFixed(3) +");"
}



function updateProbabilityTree(){

  if ((prob1_re.value >= 0) && (prob1_re.value <= 1)) {
    prob2_ne.innerText = round(1 - prob1_re.value);
    prob3_tp.innerText = round(1 - beta);
    prob4_fn.innerText = round(beta);
    prob5_tn.innerText = round(1 - alpha);
    prob6_fp.innerText = round(alpha);
    prob7_retp.innerText = round(prob1_re.value * prob3_tp.innerText);
    prob8_refn.innerText = round(prob1_re.value * prob4_fn.innerText);
    prob9_netn.innerText = round(prob2_ne.innerText * prob5_tn.innerText);
    prob10_nefp.innerText = round(prob2_ne.innerText * prob6_fp.innerText);

    // Calculate the False Discovery Rate (FDR)
    let fdr = getFalseDiscoveryRate(parseFloat(prob10_nefp.innerText), parseFloat(prob7_retp.innerText));
    // Calculate the Positive Predictive Value (PPV)
    let ppv = math.round(100 - fdr,2);

    if (Number.isNaN(fdr)){
      fdr = " - ";
    }
    if (Number.isNaN(ppv)){
      ppv = " - ";
    }

    elem("false_rate").innerText = fdr + "%";
    elem("ppv").innerText = ppv + "%";
    elem("sensitivity").innerText = prob3_tp.innerText;
    elem("specificity").innerText = prob5_tn.innerText;
  }
}




function clearForm() {
  elem("id_dataset1").value = '';
  elem("id_dataset2").value = '';
}


elem("prob1_re").onkeypress = function(event){
    if (event.keyCode == 13 || event.which == 13){
        updateProbabilityTree();
    }
};


$(window).resize(function(e) {
  moveBar();
});


function round(val){
  return math.round(val, ROUND_DECIMALS).toFixed(ROUND_DECIMALS);
}


// provides shorthand for getting element id
function elem(elem_id){
  return document.getElementById(elem_id);
}


</script>




</body>
</html>
